@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --btn-margin: 5px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: #d8c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.btn {
  border: none;
  width: 40px;
  height: 60px;
  opacity: 0.3;
  border-radius: 5px;
  font-size: 30px;
  transition: 0.5s all ease;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.prevBtn {
  margin-left: var(--btn-margin);
}

.nextBtn {
  margin-right: var(--btn-margin);
}

.slideWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.currSlide {
  height: 500px;
  width: 700px;
}

.prevSlide,
.nextSlide {
  height: 20%;
  justify-content: space-between;
  width: 260px;
  opacity: 0.7;
}

.prevSlide {
  margin-right: 15px;
}

.nextSlide {
  margin-left: 15px;
}

.prevSlide > img,
.nextSlide > img,
.currSlide > img {
  height: inherit;
  width: inherit;
}

.currSlide > img,
.prevSlide > img,
.nextSlide > img {
  object-fit: cover;
  pointer-events: none;
  transition: 1s ease all;
}

.currSlide > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
